extends ../layouts/application.pug

block content
  h1 Oh no, something went wrong
  p(style="white-space: pre-wrap;")
    img(src="https://cdn.frankerfacez.com/emoticon/425196/4" alt="sadge")
    <b>#{error.status}</b>: #{error.message}