doctype html
html(lang="en")
  head
    title Pepege Forum
    style.
      .nav li {
        display: inline; /* Отображать как строчный элемент */
        margin-right: 5px; /* Отступ слева */
        border: 1px solid #000; /* Рамка вокруг текста */
        padding: 3px; /* Поля вокруг текста */
      }
  body
    block header
      ul.nav
        li: a(href="/") Home page
        li: a(href="/topics") Topics
        if currentUser.isGuest()
          li
            a(href="/session/new") Sign in
          li
            a(href="/users/new") Sign up
        else
          li: a(href="/topics/new") New topic
          li
            form(style="display: inline" action='/session?_method=DELETE' method='post')
              button(type='submit') Sign out

    block content
