extends ../layouts/application.pug

block content
  h2 User authentication form
  form(action='/session' method='post')
    if error
      div= error
    div
      label Email
        input(type='text' name='email' value=form.email)
    div
      label Password
        input(type='password' name='password' value=form.password)
    input(type='submit' value='Sign in')
