extends ../layouts/application.pug

block content
  h1 Topics
  if !topics || topics.length === 0
    p
      img(src="/assets/PepegeOkay.png" alt="pepegeokay")
      | There are no topics yet...
  else
    ul
      each topic in topics
        .topic(style="border: solid 1px; margin: 10px 0px; padding: 0px 20px")
          h3(style="margin: 5px 0px"): a(href=`/topics/${topic.id}`)= topic.title
          p(style="margin: 0px 0px")= `views: ${topic.viewCount} comments: ${topic.commentCount}`
          p(style="margin: 0px 0px")= `Author: ${topic.creator.name}`